* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.card{
  background-color: rgb(146, 144, 11);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  
}

.nav{
  background-color: royalblue;
  margin: 20px;
  padding: 5px;
}